<template name="landing">
    {{> sAlert}}
    <div class="page animated" id="fullpage" style="animation-duration: 500ms;">
        {{scrollActivation}}
        <!-- Page Header-->
        {{> navbar}}
        <!-- FScreen-->
        <!-- Small Features-->
        <div id="services" class="section-block">
            {{> services}}
        </div>
        <div id="about" class="section-block">
        {{> stripe}}
        </div>
            {{> about }}
        <!-- Page Footer-->
        <div class="video-pan text-center section-block" id="contact">
            <header>
                <div class="container wow fadeIn">
                    <div class="col-sm-6">
                        <img src="/logo_mono" class="img-responsive" style="max-width: 70px; margin: 20px auto">
                        <h5>Phone: +1 (202) 749-8442</h5>
                        <h5>Fax: +1 (202) 749-8301</h5>
                    </div>
                    <div class="col-sm-6">
                        <h3 >Global Management Association, Corporation.</h3>
                        <h5 style=" margin-top: 20px;">Address<br/>
                            1300 I St NW Ste 400E<br/>
                            WASHINGTON DC 20005<br/>
                            United States</h5>
                    </div>
                </div>
            </header>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <figure class="row" style="background-image: url('/img/usa.jpg');"></figure>
            </div>
        </div>
        {{> footer}}
    </div>
    {{> loader}}
</template>