<template name="services">
    <section class="section section-lg  text-center">
        <div class="content-section wow scale-up-ver-bottom">
            <div class="container">
                <img src="/logo.jpg" class="img-responsive center-block" style="max-width: 300px">
                <h3 class="wow fadeIn"> The Services You Need</h3>
                <small style="font-size: 16px; max-width: 500px; margin: 0 auto;">GMAC offers an integrated suite of bipartisan lobbying, strategic communications and business solutions that help meet your challenges in a risky, ever-shifting and interconnected world. </small>

                <div class="row row-30">
                    <div class="col-sm-4 col-lg-4 col-xs-12 wow-outer">
                        <!-- Box Creative-->
                        <article class="box-creative wow fadeIn" style=" animation-delay: 0.3s;">
                            <div class="box-creative-icon lnr lnr-apartment"></div>
                            <h4 class="box-creative-title">Government Affairs</h4>
                            <p>We advocate for you on Capitol Hill, in the Administration, in state capitals and around the world.</p>
                        </article>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12 wow-outer">
                        <!-- Box Creative-->
                        <article class="box-creative wow fadeIn" style=" animation-delay: 0.3s;">
                            <div class="box-creative-icon lnr lnr-users"></div>
                            <h4 class="box-creative-title">Public Relations</h4>
                            <p>We tell your story to Washington and top-tier national audiences, through traditional and digital media. </p>
                        </article>
                    </div>
                    <div class="col-sm-4 col-lg-4 col-xs-12 wow-outer">
                        <!-- Box Creative-->
                        <article class="box-creative wow fadeIn">
                            <div class="box-creative-icon lnr lnr-pie-chart"></div>
                            <h4 class="box-creative-title">Business Advisors</h4>
                            <p>We provide a strategic approach to asset managment, market access and risk mitigation. </p>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>