/* countdown */

.wrapper-empty {
    background: url(/img/empty.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrapper-empty:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);;
    z-index: 1;
}

.text-holder {
    width: 100%;
    text-align: center;
    padding: 5% 0 0 0;
}

.text-holder h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
    z-index: 5;
}

h2.subtitle {
    color: #fff;
    font-size: 24px;
}

/* social */
.social {
    padding: 30px 0 0 0;
}

.social a {
    font-size: 24px;
    color: #fff;
    padding: 0 5px;
    transition: all 0.3s;
}

.social a:hover {
    color: #5cacce;
}

#countdown {
    font-size: 48px;
    color: #fff;
    line-height: 1.1em;
    margin: 40px 0 60px;
}

.contctform {
    margin-top: 40px;
}

.contctform h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 0;
    margin: 0 0 20px 0;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    background: #fff;
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    background: #fff;
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
    display:block;
}

/* footer */
p.copyright {
    margin-top: 30px;
    color: #fff;
    text-align: center;
    padding: 0;
    margin-bottom: 5px;
}

.credits, .credits a {
    color: #fff;
    margin-bottom: 10px;
}
