.counter-minimal-icon {
    color: #4492FA !important;
}

.image-header {
    max-width: 70px !important;
}
.video-pan {
    min-height: 658px;
    position: relative;
    background-image: url('/img/usa.jpg');
    background-position: center center;
    color: #ffffff !important;
}
.video-pan h2, .video-pan h5, .video-pan h3, .video-pan p {
    color: #ffffff !important;
}
.video-pan header {
    position: relative;
    z-index: 2;
    padding-top: 250px;
}

.video-pan:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(29,23,36,.9);
}



#to-top {
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 99999;
    background: #ffffff;
    color: #4492FA;
    height: 30px;
    width:30px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

#to-top:hover {
    background: #4492FA;
    color: #ffffff;
}

.hidden {
    visibility: hidden;
}

.hidden-to-top {
    visibility: hidden;
}




/* Paralaxx header */
.parallax-blog {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


@media (min-width: 767px) and (max-width: 1199px) {
    .parallax-blog {
        background-position-x: 0  !important;
    }
}
.parallax-blog-wrapper {
    background: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
}

/*===== Header ===*/
header[role="header"].header-top,header[role="header"].header-top figure{
    position:relative;
    height:100%;
}

header[role="header"].header-top .container{
    position:absolute;
    left:0;
    right:0;
    top:0;
    z-index:2;
    padding-top:41px
}

header[role="header"].header-top figure::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(193, 193, 193, 0.2);
    z-index:1
}

header[role="header"].header-top hgroup h1{
    padding:0;
    margin:0;
    position:relative;
    z-index:2

}

@media (max-width: 767px) {
    .if-small-center {
        text-align: center;
    }
    .parallax-blog {
        background-size: cover;
        background-position-x: 60%  !important;
        background-attachment: inherit !important;
    }

    header[role="header"].header-top figure::after{
        content:"";
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background-color: rgba(0, 0, 0, 0.21);
        z-index:1
    }
}


/*===== Nav ===*/
header[role="header"].header-top hgroup nav{
    background-color:transparent;
    min-height:inherit;
    border:none;
    text-align:right;
    margin-bottom:0;
    padding-top:18px
}

header[role="header"].header-top hgroup nav ul{
    text-align:right;
    padding:0;
    margin:0;
    float:none
}

header[role="header"].header-top hgroup nav ul > li{
    float:none;
    display:inline-block;
    text-transform:uppercase;
    font-size:12px;
    font-weight:600;
    letter-spacing:2px
}

header[role="header"].header-top hgroup nav ul > li > a{
    line-height:29px;
    padding-bottom:5px;
    padding-top:0;
    padding-left:11px;
    padding-right:12px;
    border-bottom:3px solid transparent;
    color: #151515;
}

header[role="header"].header-top hgroup nav ul > li:hover a,header[role="header"].header-top hgroup nav ul>li.active a,header[role="header"].header-top hgroup nav ul>li.active:hover a{

    background-color:#ffffff !important;
    color:#4492FA !important;
}

header[role="header"].header-top hgroup nav ul>li>a:focus{
    color:#000000;
}

header[role="header"].header-top hgroup.navbar-fixed-top,header[role="header"].header-top hgroup,header[role="header"].header-top hgroup h1,header[role="header"].header-top hgroup h1 img,header[role="header"].header-top hgroup nav ul,header[role="header"].header-top hgroup nav ul > li,.four-box-pan figure,.four-box-pan figure i,.four-box-pan section,.section-two section,.section-two section figure,.section-two section figure>img,.pricing>section input[type="button"],.pricing>section,.team-pan figure,.team-pan figure img,.subscribe-form button,.contact-form input[type="text"],.contact-form input[type="email"],.contact-form textarea,.contact-form input[type="submit"]{
    transition-delay:0.8s;
    transition-duration: 0.8s;
    transition-property: all;
    transition-timing-function: ease;
}



header[role="header"].header-top .navbar-fixed-top{
    background-color: #ffffff;
    padding:7px 0
}

header[role="header"].header-top .navbar-fixed-top .container{
    padding-top:0;
    position:static
}

header[role="header"].header-top h1 img {
    height:auto !important;
    width: 130% ;
}

header[role="header"].header-top .navbar-fixed-top h1 img{
    width:90% ;
}

header[role="header"].header-top .navbar-fixed-top nav{
    padding-top:11px
}

header[role="header"].header-top section {
    position:absolute;
    left:0;
    right:0;
    top:35%;
    z-index:1;
}
header[role="header"].header-top figure {
    z-index: 0;
}

header[role="header"].header-top section h2,header[role="header"].header-top section p{
    color:#FFF
}

header[role="header"].header-top section h2 {
    font-size: 48px;
    line-height: 50px;
    font-weight: 400;
}

header[role="header"].header-top section p{
    font-size:19px;
    line-height:20px;
    font-weight:500;
    padding-top:15px;
}

header[role="header"].header-top section a.button-header,
header[role="header"].header-top section button.button-header{
    display: inline-block;
    text-align:center;
    margin:0 auto;
    line-height:63px;
    font-size:16px;
    font-weight:400;
    padding:0 53px;
    color:#FFF;
    background-color:#f1c40f;
    border-radius:4px;
    border: none;
    text-transform:uppercase;
}

header[role="header"].header-top section a.button-header:hover,
header[role="header"].header-top section button.button-header:hover {
    background-color:#f39c12;
    text-decoration:none
}

header[role="header"].header-top section a.video-button,.video-pan header a.video-button{
    margin:67px auto;
    margin-bottom:60px;
    display:block;
    cursor:pointer;
    outline:none;
    background-color:transparent;
    border:3px solid #FFF;
    border-radius:100%;
    width:94px;
    height:94px;
    line-height:94px;
    font-size:60px;
    text-align:center;
    color:#FFF;
}

header[role="header"].header-top section a.video-button i,.video-pan header a.video-button i{
    padding-left:10px;
}

header[role="header"].header-top section a.video-button:hover,.video-pan header a.video-button:hover{
    border-color:#feca57;
}

.video-wrapper-popup .modal-content{
    background-color:#000;
}

.video-wrapper-popup .modal-content .modal-body{
    padding-bottom:5px;
}


/* lg */
@media (min-width: 2000px) {
    header.header-top[role="header"] section button {
        margin-top: 450px !important;
    }
}

/* ipad */



@media (min-width: 768px) and (max-width: 991px) {
    header.header-top[role="header"] hgroup nav ul > li > a{ padding:0 5px 0 9px}

    header.header-top[role="header"] section{ top:14%;}
}

/* xs */
@media (max-width: 767px) {
    header[role="header"].header-top section {padding: 5px !important;}

    header.header-top[role="header"] .container{
        padding-top:10px !important;
        z-index:6
    }

    header.header-top[role="header"] section h2{
        font-size:26px;
        line-height:28px;
        margin-bottom:2px;
    }

    header.header-top[role="header"] section p{
        font-size:15px;
        line-height:30px;
        margin:0 3%;
        padding-top:5px;
    }

    header.header-top[role="header"] section .video-button{
        margin:4% auto;
        width:65px;
        height:65px;
        line-height:65px;
        font-size:35px;
    }

    header.header-top[role="header"] section a{
        font-size:14px;
        padding:0 20px;
        line-height:55px;
    }

    header.header-top[role="header"] section button{
        margin-top: 70px !important;
        font-size:14px;
        padding:0 20px;
        line-height:55px;
    }

    header.header-top[role="header"] hgroup{
        position:relative !important;
    }

    header.header-top[role="header"] hgroup nav {
        margin-top:0;
    }

    header.header-top[role="header"] hgroup nav .navbar-toggle{
        position:absolute !important;
        margin:0;
        top:-48px;
        right:15px;
    }

    header.header-top[role="header"] .navbar-fixed-top hgroup nav .navbar-toggle {
        top:-40px;
    }

    header.header-top[role="header"] h1 img {
        width: 150% !important;
    }
    header.header-top[role="header"] .navbar-fixed-top h1 img{
        width:80% !important;
    }

    header.header-top[role="header"] hgroup nav ul{
        text-align:center !important;
        background-color:#ffffff !important;
        padding:10px !important;
    }

    header.header-top[role="header"] hgroup nav ul > li{
        display:block !important;
    }

}

@media (max-width: 414px) {
    header.header-top[role="header"] section h2{ font-size:36px; line-height:41px}
}



/*

SAFARI DeBug

*/
@media not all and (min-resolution:.001dpcm) {
    @media (min-width: 767px) {
        .row._safary {
            flex-wrap: nowrap;
        }
    }
}


