<template name="stripe">
    <section class="section section-xs bg-primary-darker text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-12">
                    <div class="box-cta-thin">
                        <h3 class="title ">
                            <span class="wow slideInRight" style=" animation-name: none;">IN THE SPOTLIGHT<small style="color: #ffffff;">GMAC roster is deep and talented</small></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>