<template name="navbar">
    <header role="header" class="header-top section-block active" id="headere-top" >
        <div class="header-fixed-wrapper navbar-fixed-top animated fadeInDown" role="header-fixed" style="border-bottom: 1px solid #cdcdcd">
            <div class="container">
                <!-- hgroup -->
                <hgroup class="row _safary">
                    <!-- logo -->
                    <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2"  >
                        <h1 class="logo-header">
                            <a href="#headere-top" title="Global Management Association"><img src="/favicon.png" alt="GMCA" title="Global Management Association" class="img-responsive image-header"/></a>
                        </h1>

                    </div>
                    <!-- logo -->

                    <!-- nav -->
                    <nav role="navigation" class="col-xs-12 col-sm-10 col-md-10 col-lg-10 navbar navbar-default" style="padding-top: 20px">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="ture" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class=""> <a id="home-button" href="#headere-top">Home</a></li>
                                <li class=""> <a href="#services">Services</a></li>
                                <li class=""> <a href="#about">About GMAC</a></li>
                                <li class=""> <a href="#contact">Contacts</a></li>
                            </ul>
                        </div>

                    </nav>
                    <!-- nav -->
                </hgroup>
                <!-- hgroup -->
            </div>
        </div>

        <!-- banner Text -->
        <section id="head-section" class="section section-halfscreen bg-image" >
            <div class="section-halfscreen-inner">
                <div class="container wow fadeIn">
                    <div class="row">
                        <div class="col-md-7 col-lg-6">
                            <div class="section-halfscreen-content ">
                                <div class="wow-outer heading-3 ">
                                    <h2 class="">
                                        <span class="font-weight-bold" style="/*color: #cdcdcd;*/ color: #ffffff;">Global Management Association</span>
                                        <span class="font-weight-light">Corporation</span>
                                    </h2>
                                </div>
                                <div class="p">
                                    <p class="custom-article ">GMAC works for you in Washington,<br /> in state capitals and around the world.</p>
                                </div>

                                <a class="button button-primary  startscroll" href="#services">
                                    <div class="content-original">Read More</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner Text -->



        <!-- banner image -->

        <div class="parallax-blog-wrapper">
            <figure class="parallax-blog wow fadeIn"  data-stellar-background-ratio="0.5" style="background-image: url('/img/washington.jpg'); " ></figure>
        </div>
        <!-- banner image -->
    </header>
</template>