<template name="empty">
    <div class="wrapper-empty"></div>
    <div class="container text-holder" style="position: absolute; top: 0; z-index: 999999">
        <div class="row" >
            <div class="col-md-12">
                <img src="/img/tcc.png" class="img-responsive" style="max-width: 50px; margin: 0 auto;"/>
                <h1>Tech Creation Company</h1>
                <h2 class="subtitle">Something awesome is coming soon</h2>

                <div class="social">
                    <a target="_blank" href="https://www.facebook.com/techcreationcompany/"><i class="fab fa-facebook-f"></i></a>
                    <a target="_blank" href="mailto:to-the-stars@tcc.dev"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/11697871/"><i class="fab fa-linkedin-in"></i></a>
                    <a target="_blank" href="https://tcc.dev"><i class="far fa-compass" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <p class="copyright">&copy; Tech Creation Company - All Rights Reserved</p>
                <div class="credits"></div>
            </div>
        </div>
    </div>
</template>