<template name="footer">
    <footer class="section footer-minimal bg-primary-darker">
        <div class="container">
            <div class="footer-minimal-inner">
                <!-- Rights-->
                <p class="copy">&copy; 2019. All rights reserved. Made by <a href="http://techcreationcompany.com" style="font-weight: 900">TCC</a></p>
            </div>
        </div>
    </footer>
</template>