<template name="about">
    <section class="section section-lg  wow fadeIn" style="padding: 0; min-height: 600px">
        <div class="content-section">
            <div class="range justify-content-xl-between">
                <div class="cell-lg-6 align-self-center ">
                    <div class="row">
                        <div class="col-md-10 cell-inner">
                            <div class="section-lg inset-right-2" style="padding-left: 10%">
                                <h1 class="wow-outer"><span class="wow scale-up-ver-top">The Advocates You Want</span></h1>
                                <p class="wow fadeIn" >GMAC has battle-tested experience in Republican and Democratic leadership at the national and state levels. We have worked in the top-tier of journalism and public relations. We have contacts in major capitals around the world and a track record in commerce.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 height-fill" style="background: url('/img/pr.jpg'); background-size: cover; min-height: 600px"></div>
            </div>
        </div>
    </section>
    <section class="section section-lg  wow fadeIn" style="padding: 0; min-height: 600px">
        <div class="content-section">
            <div class="range justify-content-xl-between">
                <div class="cell-lg-6 height-fill" style="background: url('/img/gov.jpg'); background-size: cover; min-height: 600px"></div>
                <div class="cell-lg-6 align-self-center ">
                    <div class="row">
                        <div class="col-md-10 cell-inner">
                            <div class="section-lg inset-right-2" style="padding-left: 10%">
                                <h1 class="wow-outer"><span class="wow scale-up-ver-top">INTELLIGENCE</span></h1>
                                <h3>Vision. Action. Results.</h3>
                                <p class="wow fadeIn" >Whether you’re a U.S. or international client, you depend on intelligence to know how Washington impacts you. No firm better understands the architecture of Washington than GMAC. We give you the hard data, insight and connections you need to meet your goals.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>