<template name="loader">
    <div class="preloader loaded">
        <div class="preloader-logo"><img src="/img/logo.jpg" alt="" width="169" height="24" srcset="/img/logo.jpg">
        </div>
        <div class="preloader-body">
            <div id="loadingProgressG">
                <div class="loadingProgressG" id="loadingProgressG_1"></div>
            </div>
        </div>
    </div>
</template>